api_platform:
    mapping:
        paths: ['%kernel.project_dir%/src/Entity']
    patch_formats:
        json: ['application/merge-patch+json']
    swagger:
        versions: [3]
    formats:
        json:
            mime_types: ['application/json']

    # Enable the entrypoint.
    enable_entrypoint: false

    # Enable the docs.
    enable_docs: false

